.favorite-header {
    margin: 120px 0 48px;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #2C2D2E;
}

.favorite-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}
.place-card-sort{
    display: block;
}
.place-card-mini-sort{
    display: none;
}


@media (max-width: 390px) {
    .place-card-sort{
        display: none;
    }
    .place-card-mini-sort{
        display: block;
    }
    .favorite-header {
        margin: 32px 0 24px;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #2C2D2E;
    }

    .favorite-cards {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}