.favorite-header {
    margin: 60px 0 18px !important;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #2C2D2E;
}

.place-card-sort-big{
    width: 100%;
    display: flex;
    gap: 27px;
}
.place-card-mini-sort{
    display: none;
}


@media (max-width: 565px) {
    .place-card-sort-big{
        display: none;
    }
    .place-card-mini-sort{
        display: block;
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
    }
    .favorite-header {
        margin: 22px 0 14px !important;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #2C2D2E;
    }

    .favorite-cards {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 390px) {
    .place-card-sort-big{
        display: none;
    }
    .place-card-mini-sort{
        display: block;
    }
    .favorite-header {
        margin: 32px 0 14px;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #2C2D2E;
    }

    .favorite-cards {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}