.linecard {
  margin: 0 0 30px 0;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(44, 45, 46, 0.25);
  border-radius: 35px;
}

.linecard-l {
  position: relative;
  width: 516px;
  height: 374px;
}

.linecard-img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
}

.linecard-heart {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: 0;
  padding: 16px 12px 14px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  cursor: pointer;
}

.linecard-heart:active {
  background: #2c2d2e;
}

.linecard-like {
  width: 31px;
  height: 25px;
  color: #2c2d2e;
  fill: #2c2d2e;
}

.linecard-like:active {
  color: #ff4d4d;
  fill: #ff4d4d;
}

.linecard-r {
  width: 516px;
}

.lc-r-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lc-name {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #2c2d2e;
}

.lc-stars {
  display: flex;
  gap: 18px;
}

.lc-star-active {
  width: 17px;
  height: 17px;
  color: #ffd400;
}

.lc-star {
  width: 17px;
  height: 17px;
}

.lc-star:active {
  color: #ffd400;
}

.lc-location {
  margin: 12px 0 24px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #2c2d2e;
}

.lc-inner {
  margin: 0 0 56px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lc-inner-box {
  display: flex;
  align-items: center;
  gap: 14px;
}

.lc-inner-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  color: #2c2d2e;
}

.lc-text {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  color: #2c2d2e;
}

.lc-span {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #2c2d2e;
}

.lc-btns {
  margin: 29px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.lc-btn1 {
  width: 220px;
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background: #3cd298;
  border-radius: 35px;
  text-decoration: none;
}

.lc-btn1:hover {
  color: #ffffff;
}

.lc-btn2 {
  width: 220px;
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #3cd298;
  background: #ffffff;
  border: 1px solid #3cd298;
  border-radius: 35px;
  text-decoration: none;
}

@media (max-width: 390px) {
  .linecard {
    margin: 0 0 12px 0;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(44, 45, 46, 0.25);
    border-radius: 35px;
  }

  .linecard-l {
    position: relative;
    width: 161px;
    height: 290px;
  }

  .linecard-img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
  }

  .linecard-heart {
    position: absolute;
    top: 11px;
    right: 12px;
    margin: 0;
    padding: 0px 5px;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
  }

  .linecard-like {
    width: 13px;
    height: 10px;
    color: #2c2d2e;
    fill: #2c2d2e;
  }

  .linecard-r {
    width: 161px;
  }

  .lc-name {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #2c2d2e;
  }

  .lc-stars {
    display: flex;
    gap: 6px;
  }

  .lc-star-active {
    width: 8px;
    height: 8px;
    color: #ffd400;
  }

  .lc-star {
    width: 8px;
    height: 8px;
  }

  .lc-location {
    margin: 2px 0 12px;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #2c2d2e;
  }

  .lc-inner {
    margin: 0 0 12px 0;
    padding: 0;
    display: block;
  }

  .lc-inner-box {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .lc-inner-img {
    width: 14px;
    height: 12px;
  }

  .lc-inner-text {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: #2c2d2e;
  }

  .lc-text {
    margin: 0 0 2px 0;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #2c2d2e;
  }

  .lc-span {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2c2d2e;
  }

  .lc-btns {
    margin: 16px 0 0 0;
    padding: 0;
    display: block;
  }

  .lc-btn1 {
    display: block;
    width: 138px;
    margin: 0 auto;
    padding: 8px 27px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background: #3cd298;
    border-radius: 18px;
    text-decoration: none;
  }

  .lc-btn2 {
    width: 138px;
    margin: 12px 0 0 12px;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #3cd298;
    background: #ffffff;
    border: 1px solid #3cd298;
    border-radius: 18px;
    text-decoration: none;
  }
}
