.services-wrap{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.services-card{
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: inset 1px -2px 16px 4px rgba(170,194,194,0.69);
    -moz-box-shadow: inset 1px -2px 16px 4px rgba(170,194,194,0.69);
    box-shadow: inset 1px -2px 16px 4px rgba(170,194,194,0.69);
}
.services-caer-img{
    width: 350px;    
    height: 250px;
    background: #00ABF2;
}
.services-card-name{
    padding: 15px 15px 0;
}
.services-card-description{
    padding: 0 15px;
}
.services-card-link{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 700;
    margin: 15px 0 20px 100px ;
    font-size: 16px;
    text-align: center;
}
.services-card-link:hover{
    background-color: #3CD298;
    color: white;
    border: 1px solid #3CD298;
    transition: all 0.2s ease-in-out;
}