.places {
  width: 100%;
  height: 250px !important;
  position: relative;
  margin-top: 100px !important;
}
.places-top {
  padding: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #2c2d2e;
}

.swiper-place {
  width: 100%;
  height: 230px;
  z-index: 3;
}
.swiper-slide-place {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  height: 150px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  width: 100%;
}
.prevPlace {
  position: absolute;
  cursor: pointer;
  top: 170px;
  left: -70px;
  font-size: 50px;
  display: inline-block;
}
.nextPlace {
  position: absolute;
  top: 170px;
  right: -40px;
  cursor: pointer;
  font-size: 50px;
  display: inline-block;
}
.swiper-place-mini {
  display: none !important;
}
@media only screen and (max-width: 576px) {
  .places {
    width: 100%;
    height: 180px;
    margin-top: 70px;
  }
  .places-top {
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    color: #2c2d2e;
  }
  .swiper .swiper-slide-place {
    height: 120px !important;
  }
  .swiper-place-mini {
    margin-top: 10px;
    height: 150px !important;
    display: block !important;
  }
  .swiper-wrapper {
    width: 100%;
    height: 120px !important;
  }
  .swiper-place {
    display: none !important;
  }
  .prevPlace {
    position: absolute;
    top: 10px;
    left: 310px;
    font-size: 25px;
    z-index: 999999;
    display: inline-block;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 0px 8px;
  }
  .nextPlace {
    position: absolute;
    top: 10px;
    right: -5px;
    z-index: 999999;
    font-size: 25px;
    display: inline-block;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 0px 8px;
  }
}

@media only screen and (max-width: 414px) {
  .prevPlace {
    position: absolute;
    top: 10px;
    left: 270px;
    font-size: 25px;
    z-index: 999999;
    display: inline-block;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 0px 8px;
  }
  .nextPlace {
    position: absolute;
    top: 10px;
    right: -5px;
    z-index: 999999;
    font-size: 25px;
    display: inline-block;
    background: #000;
    color: white;
    border-radius: 20px;
    padding: 0px 8px;
  }
}

@media only screen and (max-width: 390px) {
  .places-top {
    margin: 50px 0 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    color: #2c2d2e;
  }
  .places {
    width: 100%;
    height: 200px;
  }
  .prevPlace {
    position: absolute;
    top: 10px;
    left: 245px;
    border-radius: 50%;
    padding: 0px 8px;
  }
  .nextPlace {
    position: absolute;
    top: 10px;
    border-radius: 50%;
    right: -5px;
    padding: 0px 8px;
  }
}
