.tarif-header {
  margin: 30px 0 48px;
  padding: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #2c2d2e;
}

.tarif-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tarif-card {
  text-align: center;
}

.tarif-name {
  margin: 0 0 24px 0;
  padding: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #2c2d2e;
}

.tarif-date1 {
  margin: 0 auto;
  padding: 44px 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: rgba(44, 45, 46, 0.25);
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  color: #ffffff;
}

.tarif-date2 {
  margin: 0 auto;
  padding: 44px 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #2c2d2e;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  color: #ffffff;
}

.tarif-date3 {
  margin: 0 auto;
  padding: 44px 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #ffd400;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  color: #ffffff;
}

.tarif-text {
  width: 302px;
  height: 70px;
  margin: 16px 0 36px;
  padding: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #2c2d2e;
}

.tarif-btn {
  margin: 0;
  padding: 10px 27px 10px 28px;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background: #00abf2;
  border-radius: 35px;
}

.tarif-btn:hover {
  color: #ffffff;
}

.tarif-line {
    border: 1px solid rgba(44, 45, 46, 0.25);
    margin-left: 25px;
}

@media (max-width: 576px) {
    .tarif-header {
        margin: 32px 0 0 0;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        color: #2c2d2e;
      }

    .tarif-cards {
        display: block;
    }

    .tarif-card {
        text-align: center;
        margin: 0;
        padding: 36px 0;
    }

    .tarif-text {
        width: 302px;
        padding: 16px 0 36px;
        margin: 0 auto;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #2c2d2e;
      }
      .tarif-line{
        margin: 0;
      }
}

@media (max-width: 390px) {
  .tarif-header {
      margin: 32px 0 0 0;
      padding: 0;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      color: #2c2d2e;
    }

  .tarif-cards {
      display: block;
  }

  .tarif-card {
      text-align: center;
      margin: 0;
      padding: 36px 0;
  }

  .tarif-text {
      width: 302px;
      padding: 16px 0 36px;
      margin: 0 auto;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #2c2d2e;
    }
}
