.bell {
    margin: 0;
    padding: 13.12px 15.87px 12.88px 13.88px;
    background: #2C2D2E;
    border-radius: 50%;
    cursor: pointer !important;
}
.minibell-img {
    display: none;
}
.modal-notification::-webkit-scrollbar{
    display: none;
}
.modal-natif-dialog{
    position: relative;
    top: 60px;
    left: 340px;
    height: 450px !important;
    width: 450px;
}
.pesonal-notif{
    width: 70px;
}
/*  ================================== Tariff Css */
.tariff-modal-wrap{
    position: fixed;
    top: 90px;
    width: 550px;
    left: 450px;
    background: #282727f8;
    border-radius: 10px;
    z-index: 2;
}
.modal-wrap{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background: #282727ab;
}
.close-btn-modal{
    position: absolute;
    top: 20px;
    right: 15px;
}
.tarif-info{
    width: 80%;
    
}
@media only screen and (max-width: 576px) {    
    .modal-natif-dialog{
        position: absolute;
        margin-left: -180px;
        width: 220px !important;
        height: 400px !important;
    }

    .bell {
        margin: 0;
        padding: 9.63px 11.18px 9.49px 10.06px;
        background: #2C2D2E;
        border-radius: 50%;
    }

    .bell-img {
        display: none;
    }

    .minibell-img {
        display: block;
    }
    .pesonal-notif{
        width: 50px;
        font-size: 9px;
    }
    .text-notif{
        font-size: 11px;
    }
    .btn-notif{
        width: 85px;
        font-size: 12px;
    }
    /* ================Traffik Css */
    .tariff-modal-wrap{
        position: fixed;
        top: 90px;
        width: 350px;
        left: 20px;
        background: #282727f8;
        border-radius: 10px;
        z-index: 2;
    }
}
@media only screen and (max-width: 390px) {    
    .modal-natif-dialog{
        position: absolute;
        margin-left: -200px;
        width: 220px !important;
        height: 350px !important;
    }

    .bell {
        margin: 0;
        padding: 9.63px 11.18px 9.49px 10.06px;
        background: #2C2D2E;
        border-radius: 50%;
    }

    .bell-img {
        display: none;
    }

    .minibell-img {
        display: block;
    }

}