.dacha {
  margin: 150px auto;
}

.dacha-top {
  padding: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #2c2d2e;
  margin-top: 130px;
}

.dacha-cards {
  margin: 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 576px) {
  .dacha {
    display: block;
    margin: -20px auto 0;
  }
  .dacha-top {
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #2c2d2e;
    margin-top: 0;
  }
  .dacha-cards {
    margin: 0 0 0 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 414px) {
  .dacha {
    display: block;
    margin: -50px auto 0;
  }
  .dacha-top {
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #2c2d2e;
  }
  .dacha-cards {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
@media (max-width: 390px) {
  .dacha {
    margin-top: -50px;
  }
  .dacha-top {
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #2c2d2e;
  }
  .dacha-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
