.wrap-ads {
    width: 100%;
    height: 545px;
    background-image: url(../../assets/images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.wrap-ads-shadow {
    width: 100%;
    height: 545px;
    background-image: url(../../assets/images/shadow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    z-index: 1;
}

.header {
    width: 100%;
    margin: 0 auto;
    padding: 25px 0 0 0;
    text-align: center;
}


.info-card {
    padding: 80px 0;
}

.header-text {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;
    color: #FFFFFF;
}

.header-num {
    margin: 24px 0 36px;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.header-btn {
    margin: 0;
    display: inline-block;
    padding: 13px 53px;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #3CD298;
    border-radius: 35px;
    border: none;
    outline: none;
}

.header-btn:hover {
    color: #FFFFFF;
}

.circles {
    margin: -5px auto 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.circles-next {
    margin: 48px 0 76px;
    padding: 0;
    display: none;
    justify-content: center;
    gap: 12px;
}

.circle {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

/* .active {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
} */

.header-menu {
    width: 730px;
    margin: -60px auto;
    padding: 17px 36px 16px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background: #2C2D2E;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    z-index: 3;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    top: 0 !important;
}

.header-inner {
    display: flex;
    height: 52px;
}

.header-inner-box {
    margin: 0;
    padding: 0 48px;
    border-right: 1px solid #ffffff;
}

.header-inner-box:last-child {
    border: none;
    outline: none;
}

.header-top {
    margin: 0 0 12px 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.header-top-usd {
    margin: 0 0 12px 0;
    padding: 0;
    text-align: left;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.header-select-one {
    width: 91px;
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #2C2D2E;
}

.header-select-two {
    width: 69px;
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #2C2D2E;
}

.header-nums {
    margin: 0;
    width: 111px;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    background-color: #2C2D2E;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.header-search {
    margin: 0;
    padding: 18px 19.51px 19.55px 18px;
    border-radius: 50px;
    background: #3CD298;
}

.mini-search {
    display: none;
}
@media only screen and (max-width: 576px) {
    .swiper{
        width: 100%;
        display: none;
        z-index: -9 !important;
    }
    .header-btn {
        margin: 0;
        display: inline-block;
        padding: 8px 25px;
        text-decoration: none;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        background: #3CD298;
        border-radius: 18px;
        border: none;
    }

    .circles {
        margin: 48px 0 76px;
        padding: 0;
        display: none;
        justify-content: center;
        gap: 12px;
    }

    .circles-next {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .header-menu {
        position: relative;
        width: auto;
        height: 360px;
        margin: 36px 0 31px;
        padding: 16px 32px 20px;
        display: block;
        background: #2C2D2E;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
        border-radius: 35px;
        z-index: -1;
    }

    .header-inner {
        display: block;
    }

    .header-search {
        position: absolute;
        left: 42%;
        bottom: 20px;
        margin: 0;
        padding: 18px 19.51px 19.55px 18px;
        display: block;
        border-radius: 50px;
        background: #3CD298;
    }

    .header-inner-box {
        margin: 0 0 24px 0;
        padding: 0;
        border-right: none;
        border-bottom: 1px solid #ffffff;
    }

    .header-inner-box:last-child {
        border-bottom: 1px solid #ffffff;
    }

    .header-top {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    .header-select-one {
        width: 91px;
        margin: 12px 0;
        padding: 0;
        display: block;
        border: none;
        color: #ffffff;
        background-color: #2C2D2E;
    }

    .header-select-two {
        width: 69px;
        margin: 12px 0;
        padding: 0;
        display: block;
        border: none;
        color: #ffffff;
        background-color: #2C2D2E;
    }

    .header-nums {
        display: block;
        left: 0;
        margin: 12px 0;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .header-search {
        margin: 0;
        padding: 16px 17px 17.03px 16px;
        border-radius: 50px;
        background: #3CD298;
    }

    .search-img {
        display: none;
    }

    .mini-search {
        display: block;
    }

    .header-top {
        text-align: left;
    }
}

@media only screen and (max-width: 390px) {
    .swiper{
        width: 100%;
        display: block;
        z-index: -9 !important;
    }
    .header {
        width: 358px;
        margin: 0 auto;
        padding: 38px 0;
        text-align: center;
    }

    .header-bg {
        width: 100%;
        height: 645px;
        background-image: url(../../assets/images/bg-mini.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-shadow {
        width: 100%;
        height: 645px;
        background-image: url(../../assets/images/shadow.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        z-index: 1;
    }

    .header-text {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }

    .header-num {
        margin: 12px 0 24px;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .header-btn {
        margin: 0;
        display: inline-block;
        padding: 8px 25px;
        text-decoration: none;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        background: #3CD298;
        border-radius: 18px;
        border: none;
    }

    .circles {
        margin: 48px 0 76px;
        padding: 0;
        display: none;
        justify-content: center;
        gap: 12px;
    }

    .circles-next {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .header-menu {
        position: relative;
        width: auto;
        height: 360px;
        margin: 36px 0 31px;
        padding: 16px 32px 20px;
        display: block;
        background: #2C2D2E;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
        border-radius: 35px;
        z-index: -1;
    }

    .header-inner {
        display: block;
    }

    .header-search {
        position: absolute;
        left: 42%;
        bottom: 20px;
        margin: 0;
        padding: 18px 19.51px 19.55px 18px;
        display: block;
        border-radius: 50px;
        background: #3CD298;
    }

    .header-inner-box {
        margin: 0 0 24px 0;
        padding: 0;
        border-right: none;
        border-bottom: 1px solid #ffffff;
    }

    .header-inner-box:last-child {
        border-bottom: 1px solid #ffffff;
    }

    .header-top {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    .header-select-one {
        width: 91px;
        margin: 12px 0;
        padding: 0;
        display: block;
        border: none;
        color: #ffffff;
        background-color: #2C2D2E;
    }

    .header-select-two {
        width: 69px;
        margin: 12px 0;
        padding: 0;
        display: block;
        border: none;
        color: #ffffff;
        background-color: #2C2D2E;
    }

    .header-nums {
        display: block;
        left: 0;
        margin: 12px 0;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .header-search {
        margin: 0;
        padding: 16px 17px 17.03px 16px;
        border-radius: 50px;
        background: #3CD298;
    }

    .search-img {
        display: none;
    }

    .mini-search {
        display: block;
    }

    .header-top {
        text-align: left;
    }
}

