.dacha-mini-card {
    display: none;
}
.mini-card-wrap{
    display: none;
}


@media only screen and (max-width: 576px) {
    @keyframes heartbeat {
        0%{
            transform: scale(1);
        }

        50%{
            transform: scale(1.1);
        }

        100%{
            transform: scale(1);
        }

    }

    .dacha-mini-heart-icon {
        color: #2C2D2E;
        fill: #2C2D2E;
        width: 15px;
        height: 11px;
        margin-top: -4px;
        cursor: pointer;
        text-align: center;
    }
   
    .dacha-mini-heart-icon:hover {
        animation: heartbeat 1s infinite;
        transition: opacity 500ms;
    }


    .dacha-mini-heart-icon:active {
        fill: red;
        color: red;
    }
    .dacha-mini-heart-active {
        fill: red;
        color: red;
    }
    
    .dacha-mini-card {
        display: block;
        max-width: 170px;
        background: #FFFFFF;
        padding: 0 !important;
        text-decoration: none;
        border-radius: 20px 20px 10px 10px;
    }
    .mini-card-wrap{
        display: block;
        position: relative;
    }
    .mini-card-info{
        padding: 0 10px;
    }
    .img-wrap{
        width: 100% !important;
        padding: 0 !important;
    }
    .view-img{
        width: 170px !important;
        height: 160px !important;
        top: 0;
        border-radius: 10px 10px 0 0 !important;
        margin: 0 !important;
    }

    .dmc-like {
        position: absolute;
        top: 145px;
        right: 10px;
        width: 24px;
        margin: 0;
        padding: 0px 5.16px 0px 5.14px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        z-index: 999999;
    }

    .dmc-like:active {
        background: #2C2D2E;
    }
    .dmc-like-active {
        background: #2C2D2E;
    }   

    .dmc-name {
        margin: 3px 0 2px;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #2C2D2E;
    }

    .dmc-text {
        margin: 0 0 6px 0;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #2C2D2E;
    }

    .dmc-text:last-child {
        margin-bottom: 20px;
    }

    .dmc-btn {
        width: 136px;
        position: relative;
        left: 3%;
        margin: 0 auto;
        padding: 8px 27px;
        font-family:  sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        background: #3CD298;
        border-radius: 18px;
        border: none;
        text-decoration: none;
        text-align: center;
        display: block;
    }

    .dmc-btn:hover {
        color: #FFFFFF;
    }
}

@media only screen and (max-width: 390px) {
    @keyframes heartbeat {
        0%{
            transform: scale(1);
        }

        50%{
            transform: scale(1.1);
        }

        100%{
            transform: scale(1);
        }

    }

    .dacha-mini-heart-icon {
        color: #2C2D2E;
        fill: #2C2D2E;
        width: 15px;
        height: 11px;
        margin-top: -4px;
        cursor: pointer;
        text-align: center;
    }
   
    .dacha-mini-heart-icon:hover {
        animation: heartbeat 1s infinite;
        transition: opacity 500ms;
    }


    .dacha-mini-heart-icon:active {
        fill: red;
        color: red;
    }
    .dacha-mini-heart-active {
        fill: red;
        color: red;
    }               
    .dacha-mini-card {
        display: block;
        max-width: 166px;
        background: #FFFFFF;
        padding: 0 !important;
        text-decoration: none;
        border-radius: 20px 20px 10px 10px;
    }
    .mini-card-wrap{
        display: block;
        position: relative;
    }
    .mini-card-info{
        padding: 0 10px;
    }
    .img-wrap{
        width: 100% !important;
        padding: 0 !important;
    }
    .view-img{
        width: 166px !important;
        height: 150px !important;
        top: 0;
        border-radius: 10px 10px 0 0 !important;
        margin: 0 !important;
    }

    .dmc-like {
        position: absolute;
        top: 138px;
        right: 15px;
        width: 24px;
        margin: 0;
        padding: 0px 5.16px 0px 5.14px;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        z-index: 999999;
    }

    .dmc-like:active {
        background: #2C2D2E;
    }
    .dmc-like-active {
        background: #2C2D2E;
    }   

    .dmc-name {
        margin: 3px 0 2px;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #2C2D2E;
    }

    .dmc-text {
        margin: 0 0 6px 0;
        padding: 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #2C2D2E;
    }

    .dmc-text:last-child {
        margin-bottom: 20px;
    }

    .dmc-btn {
        width: 136px;
        position: relative;
        left: 3%;
        margin: 0 auto;
        padding: 8px 27px;
        font-family:  sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        background: #3CD298;
        border-radius: 18px;
        border: none;
        text-decoration: none;
        text-align: center;
        display: block;
    }

    .dmc-btn:hover {
        color: #FFFFFF;
    }
}
@media only screen and (max-width: 370px){
    .dacha-mini-card {
        display: block;
        max-width: 155px;
        background: #FFFFFF;
        padding: 0 !important;
        text-decoration: none;
        border-radius: 20px 20px 10px 10px;
    }
    .dacha-mini-heart-active {
        fill: red;
        color: red;
    }
    .dmc-like-active {
        background: #2C2D2E;
    }   

    .img-wrap{
        width: 100% !important;
        padding: 0 !important;
    }
    .view-img{
        width: 100% !important;
        height: 150px !important;
        top: 0;
        border-radius: 10px 10px 0 0 !important;
        margin: 0 !important;
    }
}