.addnew-header {
  margin: 40px 0 48px;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #2c2d2e;
}
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.label-input-file {
  cursor: pointer;
}
.addnew-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.addnew-img {
  width: 255px;
  height: 255px;
  border-radius: 33px;
}

.addnew-box {
  position: relative;
}

.addnew-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.438);
  border-radius: 35px;
}

.addnew-img-text {
  margin: 115px 0 0 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.addnew-add {
  width: 255px;
  height: 255px;
  margin: 0;
  padding: 100px 0 0 0;
  background: #2c2d2e;
  border-radius: 35px;
  text-align: center;
}

.addnew-add-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
}

.addnew-label {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2c2d2e;
}

.addnew-select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #2c2d2e;
}

.addnew-hr {
  margin: 12px 0 36px;
  padding: 0;
  width: 540px;
  color: #2c2d2e;
}

.addnew-inner {
  display: flex;
  align-items: center;
  gap: 116px;
}

.addnew-inner-check {
  display: flex;
  align-items: center;
  gap: 12px;
}

.addnew-check {
  width: 18px;
  height: 18px;
}

.addnew-objects {
  margin: 0;
  padding: 40px 51px;
  background: #2c2d2e;
  border-radius: 35px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  row-gap: 16px;
  column-gap: 90px;
}

.addnew-objects-l {
  width: 485px;
}

.addnew-objects-r {
  width: 485px;
}

.addnew-object {
  display: flex;
  align-items: center;
  gap: 15px;
}

.addnew-object-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.addnew-message {
  width: 100%;
  margin: 0 0 56px 0;
  padding: 36px 24px 338px;
  background: rgba(44, 45, 46, 0.25);
  border: none;
  outline: none;
  border-radius: 35px;
}

.image-child-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.soxranit {
  width: 220px;
  margin: 0 auto;
  padding: 10px 0;
  display: block;
  background: #3cd298;
  border: none;
  border-radius: 35px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.add-new-title-main {
  width: 50%;
  border: 0;
  border-bottom: 2px solid silver;
  padding: 5px 0;
}
.wrap-region-place {
  display: flex;
  align-items: center;
  margin: 15px 0 30px;
  gap: 10px;
}
.add-new-title-main:focus {
  outline: none;
}

.mini-wrap-select {
  width: 25%;
}
.price-wrap {
  width: 50%;
}

@media only screen and (max-width: 576px) {
  .add-new-title-main {
    width: 100%;
    border: 0;
    border-bottom: 2px solid silver;
    padding: 5px 0;
  }
  .price-wrap {
    width: 100%;
  }
  .wrap-region-place {
    display: flex;
    align-items: center;
    margin: 15px 0 30px;
  }
  .mini-wrap-select {
    width: 50%;
  }
  .addnew-header {
    margin: 32px 0 34px;
    padding: 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #2c2d2e;
  }

  .addnew-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .addnew-img {
    width: 173px;
    height: 173px;
  }

  .addnew-img-text {
    margin: 75px 0 0 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }

  .addnew-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 30px;
  }
  .addnew-add {
    width: 173px;
    height: 173px;
    margin: 0;
    padding: 60px 0 0 0;
    background: #2c2d2e;
    border-radius: 20px;
    text-align: center;
  }

  .addnew-select {
    margin: 0;
    padding: 0;
    border: 1px solid #ced4da;
    padding: 5px;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #2c2d2e;
  }

  .addnew-hr {
    margin: 12px 0 24px;
    padding: 0;
    width: 100%;
    color: #2c2d2e;
  }

  .addnew-inner {
    display: block;
  }

  .addnew-inner-check {
    margin: 0 0 13px 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .addnew-inner-check:last-child {
    margin: 0;
  }

  .addnew-objects {
    padding: 15px;
    display: block;
    background: #2c2d2e;
    border-radius: 15px;
  }

  .addnew-object-text {
    width: 246px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }

  .addnew-objects-l {
    width: 310px;
  }

  .addnew-objects-r {
    width: 310px;
  }

  .addnew-message {
    width: 100%;
    margin: 0 0 0 0;
    padding: 36px 24px 338px;
    background: rgba(44, 45, 46, 0.25);
    border: none;
    outline: none;
    border-radius: 35px;
  }

  .soxranit {
    margin-top: 20px;
    display: block;
  }
}

@media (max-width: 390px) {
  .addnew-header {
    margin: 32px 0 34px;
    padding: 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    color: #2c2d2e;
  }

  .addnew-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .addnew-img {
    width: 155px;
    height: 173px;
  }

  .addnew-img-text {
    margin: 75px 0 0 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }

  .addnew-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 30px;
  }

  .addnew-add {
    width: 173px;
    height: 173px;
    margin: 0;
    padding: 60px 0 0 0;
    background: #2c2d2e;
    border-radius: 20px;
    text-align: center;
  }

  .addnew-select {
    margin: 0;
    padding: 0;
    border: 1px solid #ced4da;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #2c2d2e;
    padding: 5px;
  }

  .addnew-hr {
    margin: 12px 0 24px;
    padding: 0;
    width: 100%;
    color: #2c2d2e;
  }

  .addnew-inner {
    display: block;
  }

  .addnew-inner-check {
    margin: 0 0 13px 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .addnew-inner-check:last-child {
    margin: 0;
  }

  .addnew-objects {
    margin: 0;
    padding: 20px 24px 20px 27px;
    display: block;
    background: #2c2d2e;
    border-radius: 25px;
  }

  .addnew-object-text {
    width: 246px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }

  .addnew-objects-l {
    width: 310px;
  }

  .addnew-objects-r {
    width: 310px;
  }

  .addnew-message {
    width: 100%;
    margin: 0 0 0 0;
    padding: 36px 24px 338px;
    background: rgba(44, 45, 46, 0.25);
    border: none;
    outline: none;
    border-radius: 35px;
  }

  .soxranit {
    margin-top: 20px;
    display: block;
  }
}
