*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Lora:wght@100;200;300;400;500;600;700&display=swap);

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  font-size: medium;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0 16px;
}
.swiper{
  z-index: 1 !important;
}
Link{
  z-index: 9999999999999;
}

