*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0 16px;
}
.swiper{
  z-index: 1 !important;
}
Link{
  z-index: 9999999999999;
}
