*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}
@font-face {
  font-family: Roboto;
  src: url(../src/fonts/Roboto-Regular.ttf);
}
.roboto{
  font-family: Roboto;
  font-style: normal;
}
@font-face {
  font-family: Oswald ;
  src: url(../src/fonts/Oswald-Regular.ttf);
}
.oswald{
  font-family: Oswald;
  font-style: normal;
}
.container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0 16px;
}
.swiper{
  z-index: 1 !important;
}
Link{
  z-index: 9999999999999;
}

